@CHARSET "UTF-8";

.button {
    -fx-background-color: transparent;
}
.button .knob {
    -fx-background-image: url("../img/knob.png");
    -fx-background-size: stretch; 
}

.inout {
    -fx-background-image: url("../img/inout60.png");
    -fx-background-size: stretch; 
}