@CHARSET "UTF-8";

/* ===== CSS Dark theme ===== */
.workspace, .split-pane {
	-fx-background-color:  #4a4c4e;
}

.split-pane:vertical .split-pane-divider {
	-fx-padding: 3px;
	-fx-background-color: transparent, derive(#1d1d1d, 20%);
}

/* ----- CSS Scroll bar ----- */
.scroll-pane {
	-fx-padding: 0px;
}
.scroll-pane .scroll-bar .track {
	-fx-background-color: transparent, derive(#1d1d1d, 20%);
}
.scroll-pane .scroll-bar .thumb {
    -fx-background-color: transparent, derive(#1d1d1d, 80%);
/*     -fx-background-insets: 2, 0, 0; */
/*     -fx-background-radius: 2em; */
}
.scroll-pane .scroll-bar .increment-button ,
.scroll-pane .scroll-bar .decrement-button {
	-fx-background-color: transparent;
	-fx-padding: 0px;
}
.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0px;
}
/* -------------------------- */

/* ----- CSS Module ----- */
.moduleBox {
	-fx-border-color: #1d1d1d;
	-fx-border-width: 1;
	-fx-border-style: solid;
/* 	-fx-border-radius: 15; */
}

.titlePane {
	-fx-background-color: linear-gradient(#bbb, #E3E3E3);
	-fx-border-color: #bbb;
	-fx-border-width: 0 0 1 0;
	-fx-border-style: solid;
}

.contentPane {
	-fx-background-color: #f4f4f4;
}

.portPane {
	-fx-background-color: linear-gradient(#E3E3E3, #bbb);
	-fx-border-color: #bbb;
	-fx-border-width: 1 0 0 0;
	-fx-border-style: solid;
}

.inputPort:hover, .outputPort:hover {
	-fx-effect: dropshadow(gaussian, #00ae00, 4, 0, 0, 0);
}
/* ---------------------- */
/* ========================== */


.knobButton {
	-fx-background-color: transparent;
}

.knob {
	-fx-background-image: url("../img/knob.png");
	-fx-background-size: stretch;
}